@using System.Data;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/js/app/UpdateCandidateProfile.js" type="text/javascript"></script>

<div class="notificationBox">
    <h3>Update Candidate Profile</h3>
    <div class="row">
        <div id="Form" class="col-sm-12">
            <form id="frmMain" method="post" action="" autocomplete="off">
                <div class="row mt10">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtApplicationDate">Update : </label>

                            <select class="form-control" id="cboUpdateAction" name="cboUpdateAction">
                                <option value=""> -- Select -- </option>
                                <option value="Update_Name">Candidate Name</option>
                                <option value="Update_Fathersname">Father's / Husband's Name</option>
                                <option value="Update_DOB">Date of Birth</option>
                                <option value="Update_Email">Email Id</option>
                                <option value="Update_Mobile">Mobile No.</option>
                                <option value="Update_PAN">PAN</option>
                                <option value="Update_Lang">Exam Language</option>

                            </select>
                        </div>

                    </div>
                </div>
                <div class="row mt10" id="UpdateDiv">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" id="labUrn">URN : <span class="mandatory">*</span></label>
                            <input id="txtURN" name="txtURN" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" id="labUpdate"></label>
                            <input id="txtValue" name="txtValue" type="text" class="form-control" autocomplete="off" style=" background-color:white;"/>
                            <select id="cboLanguage" name="cboLanguage" class="form-control" required>
                                <option value="">-- Select --</option>
                                @foreach (DataRow dr in PortalApplication.ExamLanguage.Rows)
                                {
                                    <option value="@dr["language_id"]">@dr["language_name"]</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 " style="align-content:flex-end">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="submit" class="btn btn-md btn-warning btn-block mt10" value="Save" />
                        </div>
                    </div>
                </div>
                <div class="row mt10" >
                    <div class="col-md-12" id="Result">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
