@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="pnlSyllabus" class="notificationBox">
    <h3>IC-38 Syllabus</h3>
    <div class="row">
        <div class="col-sm-12">
            <h4>Insurance Agents</h4>
            <ul>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/f349d15a-b6e8-474b-91ba-159017c1ccd1" target="_blank" rel="noreferrer">Life</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/defae178-3fab-4810-a9f9-d910f09b1767" target="_blank" rel="noreferrer">Non Life</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/15729237-ee6e-4920-924e-b3ee368996c1" target="_blank" rel="noreferrer">Health</a></h5></li>
            </ul>

            <h4>Corporate Agent</h4>
            <ul>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/5ed62de5-6994-42c8-9968-87ef5c00752f" target="_blank" rel="noreferrer">Composite</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/154f9fa1-5cef-4182-b298-b913d18fe2b0" target="_blank" rel="noreferrer">Life</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/b10d1abb-6014-46e2-9fd9-f4ccbb6312bc" target="_blank" rel="noreferrer">Non Life</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/af0b19b9-b783-4ee3-ac9a-3ea92920c76b" target="_blank">Health</a></h5></li>
            </ul>

            <h4>Insurance Marketing Firm</h4>
            <ul>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/bdd7ef8d-0a15-4d6b-b635-4d47701ca138" target="_blank" rel="noreferrer">Composite</a></h5></li>
            </ul>

            <h4>Web Aggregator</h4>
            <ul>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/documents/10156/be360162-8ff5-4e59-b102-4791f8174397" target="_blank" rel="noreferrer">Composite</a></h5></li>
            </ul>
            <br />
            <br />
            <h5>You can also download the IC38 Study Material for major regional languages from Insurance Institute Of India's website.</h5>
            <ul>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/web/guest/agents1" target="_blank" rel="noreferrer">Insurance Agents</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/web/guest/corporate-agent1" target="_blank" rel="noreferrer">Corporate Agents</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/web/guest/insurance-marketing-firm" target="_blank" rel="noreferrer">Insurance Marketing Firm</a></h5></li>
                <li><h5><a href="https://www.insuranceinstituteofindia.com/web/guest/web-aggregator" target="_blank" rel="noreferrer">Web Aggregator</a></h5></li>
            </ul>

        </div>
    </div>
</div>
