
@{
    ViewBag.Title = "CenterWisePendingScheduleCountReport";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*@Scripts.Render("~/js/app/cwpcc")*@
<script src="~/js/app/cwpcc.js"></script>
<div id="pnlMain" class="notificationBox">
    <h3>Center wise pending candidate count</h3>
    <br /><br />
    <div id="ResponseFile"></div>
</div>
