
@{
    ViewBag.Title = "Report Requests";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/js/app/ReportsDashboard.js"></script>

<div id="pnlNotifications" class="notificationBox">
    <h3>Reports Dashboard</h3>
    <div class="row">
        <div class="col-sm-12">
            <div id="divData" class="table-responsive">
            </div>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <div>
                <ul>
                    <li><i>You can download reports until expiration date. Reports will be <span class="error">unavailable </span> after expiration date. </i></li>
                    <li><i>It can take a few hours to generate a report.</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>


