@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*@Scripts.Render("~/js/app/DPRange")*@
<script src="~/js/app/DPRange.js" type="text/javascript"></script>

<div id="pnlNotifications" class="notificationBox">
    <h3>DP Range</h3>
    <div class="row" id="GridFilter">
        <div class="col-sm-12">
            <form id="frmSearch" autocomplete="off">
                <div class="row mt10">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="button" id="butNew" class="btn btn-md btn-warning btn-block" value="Add Range">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row mt10">
                <div class="col-sm-12">
                    <form id="frmMain" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cboInsurer">Insurer Name : <span class="mandatory">*</span></label>
                                    <select id="cboInsurer" name="cboInsurer" class="form-control form-control-sm ">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtRangeCount">Range Count : </label> <span class="mandatory">*</span>
                                    <input id="txtRangeCount" name="txtRangeCount" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="btn-outline-dark">
                                    <input id="btnSave" name="btnSave" type="submit" value="Save" class="btn btn-md btn-warning btn-block">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-outline-dark">
                                    <input id="btnCancel" name="btnCancel" type="reset" value="Cancel" class="btn btn-md btn-warning btn-block">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div id="data" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


