@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@*@Scripts.Render("~/js/app/cc")*@
<script src="~/js/app/cc.js"></script>
<div class="paymentBox">
    <h3>Cancel Candidate Booking</h3>
    <div class="row">
        <div class="col-sm-12 ">
            <div class="row mt-10" id="dvURN">
                <div class="col-sm-12">
                    <div class="col-sm-offset-3 col-sm-6 form-group">
                        <form id="frmMain" autocomplete="off">
                            <div class="col-sm-10 form-group">
                                <input id="txtURN" name="txtURN" type="text" class="form-control" autocomplete="off" placeholder="Enter URN" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-md btn-warning btn-block"><img src="../images/searchBtn.png" width="20" height="20" /></button>
                            </div>
                        </form>
                    </div>
                </div>        
            </div>

            <div class="row mt-10" id="dvApplicantDetails">
                <div class="row mt-10 col-sm-12">
                    <div class="col-sm-offset-3 col-sm-6 form-group">
                        <input type="hidden" name="hdURN" id="hdURN" value="" />
                        <label for="lblCandidateName">Candidate Name<span class="mandatory">*</span></label>
                        <input id="txtCandidateName" name="txtCandidateName" type="text" class="form-control" autocomplete="off" disabled="disabled" />
                    </div>
                </div>
                <div class="row  mt10 col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-sm-12" style="background-color:lightgray"><H4>Current Booking Details :</H4></div>
                    </div>
                </div> 
                <div class="row mt-10 col-sm-12">
                    <div class="col-sm-4 form-group">
                        <label for="txtCurrCenter">Current Test Center<span class="mandatory">*</span></label>
                        <input type="text" id="txtCurrCenter" name="txtCurrCenter" class="form-control" disabled="disabled" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="txtCurrLanguage">Current Exam Language<span class="mandatory">*</span></label>
                        <input type="text" id="txtCurrLanguage" name="txtCurrLanguage" class="form-control" disabled="disabled" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="txtCurrExamDateAndTime">Current Exam Date & Time<span class="mandatory">*</span></label>
                        <input type="text" id="txtCurrExamDateAndTime" name="txtCurrExamDateAndTime" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="row mt-10 col-sm-12">
                    <div class="col-sm-8 form-group">
                        <label for="txtRemarks">Remarks<span class="mandatory">*</span></label>
                        <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="butCancel"><span class="mandatory">&nbsp;</span></label>
                        <button type="button" id="butCancel" name="butCancel" class="btn btn-md btn-warning btn-block">Cancel Booking</button>
                    </div>
                </div>
                <div class="row mt-10 col-sm-12">&nbsp;</div>
                <div class="row mt-10 col-sm-12">
                    <div class="col-sm-12">
                        <br />
                        <table id="tbldata" class='table table-striped table-bordered table-hover'>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>