<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="IsLive" value="Y" />-->
    <!--DB-->
    <add key="ConnectionString" value="Server = 172.25.23.96; user id = sa ; password = F13a43f8; initial catalog = AgencyLicensingPortal" />
    <add key="CSSConnectionString" value="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 182.74.138.203)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = cssdev)));User Id = css; Password = css" />
    <add key="OAIMSConnectionString" value="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.198.188)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = oaims)));User Id = bo; Password = bo" />
    <add key="ConnectionStringReports" value="Server = 172.25.23.96; user id = sa ; password = F13a43f8; initial catalog = AgencyLicensingPortal_Report" />
    <!--SMTP-->
    <add key="smtpserver" value="" />
    <add key="smtpport" value="" />
    <add key="smtpuser" value="" />
    <add key="smtppassword" value="" />
    <add key="sslrequired" value="" />
    <add key="mailfrom" value="" />
    <!--PAYMENT GATEWAY RELATED SETTINGS-->
    <add key="ActivePG" value="" />
    <!--PG SETTINGS-->
    <add key="ErrorFile" value="D:\PG\ErrorMessage.property" />
    <add key="LogFilePath" value="D:\PG" />
    <add key="TPSLService" value="" />
    <add key="IsFixedPath" value="Y" />
    <add key="IsCustomLog" value="N" />
    <add key="PGKey" value="" />
    <add key="PGIV" value="" />
    <add key="PGMerchantCode" value="" />
    <add key="PGCurrencyCode" value="" />
    <add key="PGReturnURL" value="" />
    <!--<add key="mailcc" value=""/>
    <add key="mailbcc" value=""/>-->
    <add key="PAYTM_MID" value="" />
    <add key="PAYTM_MERCHANT_KEY" value="" />
    <add key="PAYTM_WEBSITE" value="" />
    <add key="PAYTM_ENVIRONMENT" value="" />
    <add key="PAYTM_CALLBACKURL" value="" />
    <!--Au-->
    <add key="AKey" value="" />
    <add key="AIV" value="" />
    <!--Aims : To be removed in future post integration with css-->
    <!--Will be used only till the time CSS Integration is set to N-->
    <add key="AIMSPhotoFolderBasePath" value="d:\ImageFolder" />
    <add key="AIMSSignFolderBasePath" value="d:\ImageFolder" />
    <add key="AIMSImageFolderUser" value="Administrator" />
    <add key="AIMSImageFolderPassword" value="abcd@1234" />
    <!--CSS -->
    <!--<add key="CSSIntegration" value="N"/>-->
    <add key="CSSClientId" value="23" />
    <add key="ExamDuration" value="60" />
    <!--Diagnostics-->
    <add key="EnableLogging" value="Y" />
    <add key="LogDirectory" value="D:\ApplicationErrorLogs\iiiexams.org logs" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.7" enableVersionHeader="false" maxRequestLength="51200" />
    <!--<pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap12" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <sessionState cookieless="UseCookies" regenerateExpiredSessionId="false" timeout="20" />
    <!--Ensure this timeout is less than forms tag timeout for sake of simplicity-->
    <authentication mode="Forms">
      <forms defaultUrl="../Home/Index" name=".ASPXFORMSAUTH" loginUrl="~/Home/Index" timeout="25" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
        <!--<add name="Access-Control-Allow-Origin" value="https://localhost" />-->
        <!--Enable only when port is know-->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000"/>-->
        <!--Enable only when https is enabled-->
        <!-- CSP modern XSS directive-based defence, used since 2014. ref.: http://content-security-policy.com/-->
        <!--<add name="Content-Security-Policy" value="default-src 'self'; font-src 'self';img-src 'self'; script-src 'self'; style-src 'self';" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <!--compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </compilers-->
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>